# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vscode
*.xlsx
*.zip
gen.py

# Files from Forge MDK
forge*changelog.txt
